<template>
  <v-container class="main-section configs-section">
    <h3 class="section-title">Configs</h3>
    <v-row>
      <v-col>
        <v-text-field
          label="Config base link"
          dense
          solo
          hide-details
          v-model="configBaseLink"
          @change="generatQuery"
        ></v-text-field>
      </v-col>
    </v-row>
    <template v-for="(node, index) in nodes">
      <v-divider :key="node.title + 'd'" inset v-if="index > 0"></v-divider>
      <Node
        :key="node.title + 'n'"
        :node="node"
        :value="filledNodes[node.nodeName]"
        :baseUri="configBaseLink"
        :readOnly="configSection.readOnly"
        @onEdit="onNodeEdit"
      />
    </template>
  </v-container>
</template>
<script>
import Node from "@/components/shared/node";
import NODES from "@/config/nodes";
import { isLink } from "@/config/helpers";

export default {
  name: "Configs",
  components: { Node },
  data() {
    return {
      nodes: NODES.CONFIGURATIONS,
      filledNodes: {},
      configBaseLink: "",
      id: "configs",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    configSection() {
      return this.$store.state.contentList[this.id][0] || {};
    },
    baseLink() {
      return this.$store.state.baseLink;
    },
  },
  watch: {
    configSection(newVal, oldVal) {
      if (newVal !== oldVal) {
        if (newVal.base && newVal.base.uri) {
          this.configBaseLink = newVal.base.uri
            .replace(">", "")
            .replace("<", "");
        }
        if (newVal.items && newVal.items.length) {
          const values = {};
          newVal.items.forEach((el) => {
            values[el.property] = el.value;
          });
          this.filledNodes = values;
        }
      }
    },
  },
  methods: {
    /**
     * handle changes on the changes of a node content
     * @param {Object} node the data of the changed node
     */
    onNodeEdit(node) {
      this.filledNodes[node.id] = node.data;
      const nodes = [...this.nodes];

      // check if there is a section linked to this node then we need to update it
      const actualNode = nodes.find((el) => el.nodeName === node.id);
      if (actualNode.linkedTo) {
        const children = this.contentList[actualNode.linkedTo];
        // keep all nodes that were not added from here
        // and does not have the same ids as the newly added nodes
        const nodeToKeep = children.filter(
          (el) =>
            !node.data.includes(el.id) &&
            !el.addedFrom.includes(this.queryBaseLink)
        );
        // in data we have 2 types of nodes, nodes to add and nodes to update
        // first: get all the nodes that needs to be updated
        const nodesToUpdate = children
          .filter((el) => node.data.includes(el.id))
          .map((el) => ({
            ...el,
            addedFrom: [
              ...(el.addedFrom
                ? el.addedFrom.filter((el) => el !== this.queryBaseLink)
                : []),
              this.queryBaseLink,
            ],
          }));
        // second: get all the nodes that needs to be added
        const childrenIds = children.map((el) => el.id);
        const nodesToAdd = node.data
          .filter((el) => !childrenIds.includes(el))
          .map((el) => ({
            id: el,
            base: {
              uri: el,
              property: actualNode.linkedToName,
            },
            items: [],
            addedFrom: [this.queryBaseLink],
          }));

        this.contentList[actualNode.linkedTo] = [
          ...nodeToKeep,
          ...nodesToUpdate,
          ...nodesToAdd,
        ];
      }
      // check if there is a select box then we should update it

      const distNode = nodes.findIndex((el) => el.optionsSource === node.id);

      if (distNode !== -1) {
        nodes[distNode].options = [...node.data];
        this.nodes = [...nodes];
      }

      this.generatQuery();
      this.$store.dispatch("updateContentList", this.contentList);
    },
    /**
     * generate they query after the data change and update the store
     */
    generatQuery() {
      const fullLinK = this.configBaseLink.startsWith("#")
        ? this.configBaseLink.replace("#", this.baseLink)
        : this.configBaseLink;
      if (!isLink(fullLinK)) {
        alert(`Configuration must be a valid URI`);
      } else {
        let items = [];
        Object.keys(this.filledNodes).forEach((key) => {
          if (this.filledNodes[key] && this.filledNodes[key].length) {
            items.push({
              property: key,
              value: this.filledNodes[key],
            });
          }
        });

        this.contentList[this.id] = [
          {
            id: this.id,
            description: "Configuration section",
            base: {
              uri: `<${this.configBaseLink}>`,
              property: "browser:Configuration",
            },
            items,
          },
        ];
      }
    },
  },
};
</script>

<style lang="scss"></style>
