<template>
  <v-row>
    <template v-if="editable">
      <v-col cols="2">
        <v-text-field
          label="Prefix"
          dense
          solo
          hide-details
          v-model="prefix"
          @change="itemChange"
        ></v-text-field>
      </v-col>
      <v-col>
        <v-text-field
          label="URI"
          dense
          solo
          hide-details
          v-model="uri"
          @change="itemChange"
        ></v-text-field>
      </v-col>
      <v-col cols="1" class="justify-end d-flex">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              color="red"
              @click="deleteItem"
              v-on="on"
              v-bind="attrs"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
          <span>Delete prefix</span>
        </v-tooltip>
      </v-col>
    </template>
    <template v-else>
      <v-col cols="2">
        {{ prefix }}
      </v-col>
      <v-col>
        {{ uri }}
        <v-divider class="mt-3"></v-divider>
      </v-col>
    </template>
  </v-row>
</template>
<script>
import { isLink } from "@/config/helpers";
export default {
  name: "Prefix",
  props: {
    id: {
      type: String,
      default: "",
    },
    item: {
      type: Object,
      default: () => ({ prefix: "", uri: "" }),
    },
    editable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      prefix: "",
      uri: "",
    };
  },

  methods: {
    /**
     * emit an event ot delete the prefix
     */
    deleteItem() {
      this.$emit("onDelete", this.id);
    },
    /**
     * emit an event when the fields of the prefix change and valida the input
     */
    itemChange() {
      if (!isLink(this.uri)) {
        alert(`${this.prefix} must have a valid URI.`);
        return;
      }
      if (this.prefix && this.uri) {
        this.$emit("onEdit", {
          id: this.id,
          content: {
            prefix: this.prefix,
            uri: this.uri,
          },
        });
      }
    },
  },
  mounted() {
    if (this.item) {
      this.prefix = this.item.prefix;
      this.uri = this.item.uri;
    }
  },
};
</script>

<style></style>
