<template>
  <v-container class="main-section prefixes-section">
    <h3 class="section-title">Prefixes</h3>
    <Prefix
      v-for="pfx in prefixesList"
      :key="pfx.id"
      :id="pfx.id"
      :item="pfx.content"
      @onDelete="deletePrefix"
      @onEdit="appendPrefix"
      :editable="editable(pfx.content)"
    />

    <v-row>
      <v-col cols="2" offset="10" class="justify-end d-flex">
        <v-btn icon color="blue" @click="addPrefix">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Prefix from "./Prefix";
import { PFX_PREFIX } from "@/config/constants";
import PREFIXES from "@/config/prefixes";
import uniqid from "uniqid";
export default {
  name: "Prefixes",
  components: {
    Prefix,
  },
  data: () => ({
    prefixesList: [],
    id: "prefixes",
  }),
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    prefixes() {
      return this.$store.state.contentList[this.id][0]
        ? this.$store.state.contentList[this.id][0]["items"]
        : [];
    },
  },
  watch: {
    prefixes(value) {
      this.prefixesList = value.map((el) => {
        return {
          id: uniqid(PFX_PREFIX),
          content: el,
        };
      });
    },
  },
  methods: {
    /**
     * decides if a prefix is editable or not
     * @param {Object} pfx the prefix payload
     */
    editable(pfx) {
      return (
        PREFIXES.findIndex(
          (el) => el.prefix === pfx.prefix && el.uri === pfx.uri
        ) === -1
      );
    },
    /**
     * handle the click of the add new prefix button
     */
    addPrefix() {
      this.prefixesList.push({ id: uniqid(PFX_PREFIX), content: {} });
    },
    /**
     * handle the click of delete a prefix button
     * @param {String} id the id of the prefix
     */
    deletePrefix(id) {
      this.prefixesList = this.prefixesList.filter((item) => item.id !== id);
      this.updateStore();
    },
    /**
     * attach the prefix content to the prefix list
     * @param {Object} pfx the prefix payload
     */
    appendPrefix(pfx) {
      const index = this.prefixesList.findIndex((item) => item.id === pfx.id);
      const checkMulti = this.prefixesList.findIndex(
        (el) => el.content.prefix === pfx.content.prefix
      );
      if (checkMulti !== -1 && checkMulti !== index) {
        alert(
          pfx.content.prefix + " is already definded, please change the prefix!"
        );
        return;
      }
      const items = [...this.prefixesList];
      items[index] = pfx;
      this.prefixesList = [...items];
      this.updateStore();
    },

    /**
     * update the app state with the list of prefixes
     */
    updateStore() {
      this.contentList[this.id] = [
        {
          id: this.id,
          description: "List of prefixes",
          items: this.prefixesList.map((el) => el.content),
        },
      ];
      this.$store.dispatch("updateContentList", this.contentList);
    },
  },
  mounted() {
    if (!this.prefixes.length) {
      const pList = [];
      PREFIXES.forEach((el) => {
        pList.push({
          id: uniqid(PFX_PREFIX),
          content: el,
        });
      });

      this.prefixesList = pList;
      this.updateStore();
    }
  },
};
</script>

<style lang="scss">
</style>
