<template>
  <div class="">
    <Prefixes />
    <Configs />
    <Viewsets />
    <Views />
    <ExpansionQueries />
    <PreviewQueries />
    <DetailQueries />
    <Datasets />
    <Stylesheets />
    <Styles />
    <Vocabs />
  </div>
</template>

<script>
import Prefixes from "@/components/prefixes/Prefixes";
import Configs from "@/components/configurations/Configs";
import Viewsets from "@/components/viewsets/Viewsets";
import Views from "@/components/views/Views";
import ExpansionQueries from "@/components/queries/ExpansionQueries";
import DetailQueries from "@/components/queries/DetailQueries";
import PreviewQueries from "@/components/queries/PreviewQueries";
import Datasets from "@/components/datasets/Datasets";
import Vocabs from "@/components/vocabs/Vocabs";
import Stylesheets from "@/components/stylesheets/Stylesheets";
import Styles from "@/components/styles/Styles";
export default {
  name: "BasicMode",
  components: {
    Prefixes,
    Configs,
    Viewsets,
    Views,
    ExpansionQueries,
    DetailQueries,
    PreviewQueries,
    Datasets,
    Vocabs,
    Stylesheets,
    Styles,
  },
  data: () => ({
    fileName: "ttl-query-" + new Date().getTime(),
  }),
};
</script>

<style></style>
