<template>
  <v-container class="main-section styles-section">
    <h3 class="section-title">Styles</h3>
    <StyleGroup v-for="style in styles" :key="style.id" :item="style" />
  </v-container>
</template>
<script>
import StyleGroup from "./StyleGroup";

export default {
  name: "Styles",
  components: { StyleGroup },
  data() {
    return {
      selectors: [],
      id: "styles",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    styles() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss">
</style>
