<template>
  <v-row class="float-button-container floating-delete-button">
    <v-col cols="6">
      <v-select
        label="Property"
        dense
        solo
        hide-details
        v-model="property"
        :items="styleItems"
        return-object
        item-text="name"
        :disabled="readOnly"
      ></v-select>
    </v-col>
    <template v-if="property.type === STYLE_TYPES.TEXT">
      <v-col cols="5">
        <v-text-field
          label="Value"
          dense
          solo
          hide-details
          v-model="value"
          @change="itemChange"
          :disabled="readOnly"
        ></v-text-field>
      </v-col>
    </template>
    <template v-else-if="property.type === STYLE_TYPES.NUMBER">
      <v-col :cols="property.units ? 3 : 5">
        <v-text-field
          label="Value"
          dense
          solo
          hide-details
          type="number"
          v-model="value"
          @change="itemChange"
          :disabled="readOnly"
        ></v-text-field>
      </v-col>
      <v-col cols="2" v-if="property.units">
        <v-select
          label="Unit"
          dense
          solo
          hide-details
          :items="property.units"
          v-model="unit"
          @change="itemChange"
          :disabled="readOnly"
        ></v-select>
      </v-col>
    </template>
    <template v-else-if="property.type === STYLE_TYPES.SELECT">
      <v-col cols="5">
        <v-select
          label="Value"
          dense
          solo
          hide-details
          :items="property.options"
          v-model="value"
          @change="itemChange"
          :disabled="readOnly"
        ></v-select>
      </v-col>
    </template>
    <template v-else-if="property.type === STYLE_TYPES.COLOR">
      <v-col cols="5">
        <v-card
          v-if="readOnly"
          :style="{ background: value }"
          class="pt-5 pb-4"
          elevation="0"
        >
        </v-card>
        <v-dialog
          v-if="!readOnly"
          v-model="colorDialog"
          persistent
          max-width="290"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              dark
              block
              v-bind="attrs"
              v-on="on"
              :style="{ background: value }"
            >
            </v-btn>
          </template>
          <v-card>
            <v-card-title> Choose a color </v-card-title>
            <v-card-text>
              <v-color-picker
                hide-inputs
                v-model="value"
                @update:color="itemChange"
              ></v-color-picker
            ></v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="colorDialog = false">
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </template>
    <v-col cols="1" class="d-flex justify-end">
      <v-btn :disabled="readOnly" icon color="red" @click="deleteItem">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>
<script>
import { STYLE_TYPES } from "@/config/constants";
export default {
  name: "StyleProperty",
  props: {
    id: {
      type: String,
      default: "",
    },
    styleItems: {
      type: Array,
      default: () => [],
    },
    item: {
      type: Object,
      default: () => null,
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      STYLE_TYPES: STYLE_TYPES,
      property: {},
      colorDialog: false,
      value: "",
      unit: "",
    };
  },
  watch: {
    property(val) {
      if (val.type === this.STYLE_TYPES.TEXT) {
        this.value = "";
      } else if (val.type === this.STYLE_TYPES.NUMBER) {
        this.value = 0;
      } else if (val.type === this.STYLE_TYPES.SELECT) {
        this.value = "";
      } else if (val.type === this.STYLE_TYPES.COLOR) {
        this.value = "#000000";
      }
      this.unit = "";
    },
  },
  methods: {
    /**
     * emit an event when deleting the style property
     */
    deleteItem() {
      this.$emit("onDelete", this.id);
    },
    /**
     * emit an event when changing the value of the current input
     */
    itemChange() {
      this.$emit("onEdit", {
        id: this.id,
        name: `browser:${this.property.name}`,
        data: this.property.units ? this.value : `"${this.value}"`,
        unit: this.property.units ? this.unit : "",
      });
    },
  },
  mounted() {
    if (this.item) {
      const name = this.item.name.replace("browser:", "");
      const property = this.styleItems.find((el) => el.name === name);

      if (property) {
        this.property = property;

        // delay for a few ms to make sure that cytoscape is loaded corectly
        setTimeout(() => {
          if (this.item.unit) {
            this.unit = this.item.unit;
          }
          this.value = this.item.data.replace(/"/g, "");
        }, 30);
      }
    }
  },
};
</script>

<style></style>
