<template>
  <div class="basic-config-section">
    <v-row>
      <v-col cols="12">
        <v-text-field
          label="query base link"
          dense
          solo
          hide-details
          disabled
          v-model="styleBaseLink"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="style-preview">
        <cytoscape ref="cy" :config="config" v-if="!render">
          <cy-element
            v-for="def in elements"
            :key="`${def.data.id}`"
            :definition="def"
          />
        </cytoscape>
        <div class="loading-render" v-if="render">
          <v-container>
            <v-row align-content="center" justify="center">
              <v-col class="subtitle-1 text-center" cols="12">
                Rendering changes
              </v-col>
              <v-col cols="6">
                <v-progress-linear indeterminate rounded></v-progress-linear>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2" class="d-flex align-center">
        <span>Selector:</span>
      </v-col>
      <v-col cols="6">
        <v-text-field
          label="Selector"
          dense
          solo
          hide-details
          v-model="selector"
          @change="updateStore"
          :disabled="item.readOnly"
        ></v-text-field>
      </v-col>

      <v-col cols="4" class="d-flex align-center">
        <span class="mr-5">Node</span>
        <v-switch
          color="gray"
          class="pt-0 mt-0 node-edge-controls"
          v-model="elementType"
          :disabled="item.readOnly"
        ></v-switch>
        <span class="ml-5">Edge</span>
      </v-col>
    </v-row>
    <template v-for="editor in editors">
      <StyleProperty
        :id="editor.id"
        :key="editor.id"
        @onDelete="deleteEditor"
        @onEdit="handleContentChange"
        :styleItems="styleItems"
        :item="content.find((el) => el.id === editor.id)"
        :readOnly="item.readOnly"
      />
    </template>

    <v-row>
      <v-col cols="3" offset="9" class="justify-end d-flex">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              v-on="on"
              v-bind="attrs"
              @click="addProperty"
              color="blue"
              :disabled="item.readOnly"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
          <span>Add Property</span>
        </v-tooltip>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import StyleProperty from "./StyleProperty";
import { EDITOR_PREFIX } from "@/config/constants";
import { NODE_STYLES, EDGE_STYLES } from "@/config/styles";
import uniqid from "uniqid";
export default {
  name: "ConfigsSection",
  components: {
    StyleProperty,
  },
  props: {
    id: {
      type: String,
      default: "",
    },
    item: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      styleBaseLink: "",
      selector: "",
      styleItems: NODE_STYLES,
      content: [],
      editors: [],
      elementType: false,
      render: false,
      config: {
        style: [
          {
            selector: "node",
            style: {},
          },
          {
            selector: "edge",
            style: {},
          },
        ],
        layout: {
          name: "grid",
          rows: 1,
        },
      },
      elements: [
        {
          // node a
          data: { id: "a" },
          position: { x: 350, y: 50 },
        },
      ],
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
  },
  watch: {
    elementType(val) {
      if (val) {
        this.styleItems = EDGE_STYLES;
        this.elements = [
          {
            // node a
            data: { id: "a" },
            position: { x: 250, y: 50 },
          },
          {
            // node b
            data: { id: "b" },
            position: { x: 450, y: 50 },
          },
          {
            // edge ab
            data: { id: "ab", source: "a", target: "b" },
          },
        ];
      } else {
        this.styleItems = NODE_STYLES;
        this.elements = [
          {
            // node a
            data: { id: "a" },
            position: { x: 350, y: 50 },
          },
        ];
      }
      this.editors = [];
      this.content = [];
    },
  },
  methods: {
    /**
     * adding a new style property
     */
    addProperty() {
      this.editors.push({
        id: uniqid(EDITOR_PREFIX),
      });
    },
    /**
     * handle removing a style proprty by its id
     * @param {String} id the id of the field
     */
    deleteEditor(id) {
      this.editors = this.editors.filter((editor) => editor.id !== id);
      this.content = this.content.filter((item) => item.id !== id);
      this.updateStore();
    },
    /**
     * handle the change of the input
     * @param {Object} section the changed section object
     */
    handleContentChange(section) {
      if (!this.content.find((element) => element.id === section.id)) {
        this.content.push(section);
      } else {
        this.content = [
          ...this.content.map((element) =>
            element.id === section.id ? section : element
          ),
        ];
      }
      this.updateStore();
    },
    /**
     * collect information and update the preview
     */
    updateStyle() {
      this.render = true;
      const elemConfig = {};
      this.content.forEach((element) => {
        elemConfig[element.name.replace("browser:", "")] = element.data.replace(
          /"/g,
          ""
        );
      });
      const selector = this.elementType ? "edge" : "node";
      const { style } = this.config;
      this.config = {
        style: [
          ...style.filter((el) => el.selector !== selector),
          {
            selector: selector,
            style: elemConfig,
          },
        ],
        layout: {
          name: "grid",
          rows: 1,
        },
      };

      setTimeout(() => {
        this.render = false;
      }, 500);
    },
    /**
     * update the app state with the new changed info
     */
    updateStore() {
      this.updateStyle();
      const items = this.content.map((el) => ({
        property: el.name,
        value: [el.data],
        unit: el.unit,
      }));
      items.push({
        property: "browser:hasSelector",
        value: [`"${this.selector}"`],
      });
      items.push({ property: "elementType", value: this.elementType });

      const children = this.contentList["styles"];
      const itemIndex = children.findIndex(
        (el) => el.id === `<${this.styleBaseLink}>`
      );

      if (itemIndex !== -1) {
        children[itemIndex] = {
          ...this.item,
          addedFrom: children[itemIndex].addedFrom,
          readOnly: children[itemIndex].readOnly,
          base: {
            uri: `<${this.styleBaseLink}>`,
            property: "browser:VisualStyle",
          },
          items,
        };
        this.contentList["styles"] = children;
        this.$store.dispatch("updateContentList", this.contentList);
      }
    },
  },
  mounted() {
    // process the query
    this.styleBaseLink = this.item.base.uri.replace("<", "").replace(">", "");

    if (this.item.items && this.item.items.length) {
      const content = [];
      const editors = [];
      this.item.items.forEach((el) => {
        if (el.property === "browser:hasSelector") {
          this.selector = el.value[0].replace(/"/g, "");
        } else if (el.property === "elementType") {
          setTimeout(() => (this.elementType = el.value), 30);
        } else {
          const id = uniqid(EDITOR_PREFIX);
          editors.push({ id });
          content.push({
            id,
            name: el.property,
            data: el.value[0],
            unit: el.unit,
          });
          setTimeout(() => {
            this.editors = [...editors];
            this.content = [...content];
          }, 50);
          setTimeout(() => {
            this.updateStyle();
          }, 75);
        }
      });
    }
  },
};
</script>

<style lang="scss">
.node-edge-controls {
  .v-input__slot {
    margin: 0;
  }

  .v-messages {
    display: none;
  }
}
.style-preview {
  .__________cytoscape_container {
    max-height: 80px !important;
    min-height: 80px !important;
    div,
    canvas {
      min-height: 80px !important;
    }
  }
}
.loading-render {
  height: 80px;
}
</style>
