.main-section {
  margin-top: 30px;
  border: 1px solid #d1d1d1;
  background: #f9f9f9;

  .section-title {
    font-size: 16px;
  }

  .float-button-container {
    position: relative;
    .float-button {
      right: -40px;
      position: absolute;
      background: #4050b5;
      bottom: -5px;
      top: auto;
      border-radius: 50%;
      z-index: 1;
      &:after {
        left: -5px;
        z-index: -1;
        top: 9px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #4050b5;
        content: " ";
        display: block;
        position: absolute;
      }
    }
    &.floating-delete-button {
      .float-button {
        opacity: 0;
        background: #f44639;
        bottom: 10px;
        &:after {
          border-right: 10px solid #f44639;
        }
      }
      &:hover {
        .float-button {
          opacity: 1;
        }
      }
    }
  }

  .basic-config-section {
    + .basic-config-section {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #d1d1d1;
    }
  }
}
