<template>
  <v-container class="main-section viewsets-section">
    <h3 class="section-title">Viewsets</h3>
    <NodesSection
      v-for="viewset in viewsets"
      :key="viewset.id"
      :item="viewset"
      :name="name"
      :parentId="id"
      :nodes="nodes"
    />
  </v-container>
</template>
<script>
import NodesSection from "@/components/shared/NodesSection";
import NODES from "@/config/nodes";

export default {
  name: "Viewsets",
  components: { NodesSection },
  data() {
    return {
      nodes: NODES.VIEWSET,
      id: "viewsets",
      name: "browser:ViewSet",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    viewsets() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss"></style>
