<template>
  <v-container class="main-section views-section">
    <h3 class="section-title">Views</h3>
    <NodesSection
      v-for="view in views"
      :key="view.id"
      :item="view"
      :name="name"
      :parentId="id"
      :nodes="nodes"
    />
  </v-container>
</template>
<script>
import NodesSection from "@/components/shared/NodesSection";
import NODES from "@/config/nodes";

export default {
  name: "Viewsets",
  components: { NodesSection },
  data() {
    return {
      nodes: NODES.VIEW,
      id: "views",
      name: "browser:View",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    views() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss"></style>
