<template>
  <v-container class="main-section queries-section">
    <h3 class="section-title">Detail Queries</h3>
    <NodesSection
      v-for="query in queries"
      :key="query.id"
      :item="query"
      :name="name"
      :parentId="id"
      :nodes="nodes"
    />
  </v-container>
</template>
<script>
import NodesSection from "@/components/shared/NodesSection";
import NODES from "@/config/nodes";

export default {
  name: "DetailQueries",
  components: { NodesSection },
  data() {
    return {
      nodes: NODES.QUERY,
      id: "detailQueries",
      name: "browser:DetailQuery",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    queries() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss"></style>
