<template>
  <v-row class="floating-delete-button">
    <v-col cols="12" class="pb-0">
      <v-textarea
        v-if="readOnly"
        v-model="query"
        :readonly="readOnly"
        rows="10"
        solo
      ></v-textarea>
      <div v-if="!readOnly">
        <div :id="id + editorId"></div>
      </div>
    </v-col>
    <v-col cols="12" v-if="withPreview" class="pt-0 text-right">
      <v-btn :disabled="query === ''" outlined @click="initPreview"
        >Run Query</v-btn
      >
    </v-col>
  </v-row>
</template>

<script>
import Yasgui from "@triply/yasgui";
import "@triply/yasgui/build/yasgui.min.css";
import { EDITOR_TEMPLATE } from "../../config/editorTemplates";

export default {
  name: "Editor",
  data() {
    return {
      yasgui: null,

      query: "",
    };
  },
  props: {
    id: {
      type: String,
      default: "",
    },
    editorId: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },
    withPreview: {
      type: Boolean,
      default: false,
    },
    parentId: { type: String, default: "" },
    readOnly: { type: Boolean, default: false },
  },
  watch: {
    query() {
      this.handleChange();
    },
    readOnly(value) {
      this.initEditor(value);
    },
  },
  methods: {
    /**
     * emit an event when the value of the editor changes
     */
    handleChange() {
      this.$emit("onEdit", {
        id: this.id,
        content: `"""${this.query}"""`,
      });
    },
    /**
     * handle the click on the query preview button
     */
    initPreview() {
      const prepareQuery = this.query
        .split("\n")
        .filter((el) => !el.trim().startsWith("#"))
        .join(" ");
      this.$store.dispatch("preparePreview", {
        type: this.parentId,
        query: prepareQuery,
        init: true,
      });
    },

    /**
     * rended they dparql editor into the ui
     * @param {Boolean} readOnly a flag that decides if the value of the editor is editable
     */
    initEditor(readOnly) {
      setTimeout(() => {
        if (readOnly) {
          if (this.value) {
            this.query = this.value.replace(/"""/g, "");
          }
          if (this.yasgui) {
            this.yasgui.destroy();
          }
        } else {
          if (document.getElementById(this.id + this.editorId)) {
            this.yasgui = new Yasgui(
              document.getElementById(this.id + this.editorId),
              { autofocus: false }
            );
            const tab = this.yasgui.getTab();
            let tabValue = EDITOR_TEMPLATE[this.parentId];
            if (this.value) tabValue = this.value.replace(/"""/g, "");
            tab.setQuery(tabValue || "");
            this.query = this.value.replace(/"""/g, "");
            this.yasgui.on("tabChange", (instance, tab) => {
              this.query = tab.getQuery();
            });
          }
        }
      }, 50);
    },
  },
  mounted() {
    this.initEditor(this.readOnly);
  },
};
</script>

<style lang="scss">
.editor-section {
  .CodeMirror {
    border-radius: 5px;
    border-color: #9e9e9e;
  }
  .yasgui {
    .tabsList,
    .yasr,
    .controlbar,
    .yasqe_share,
    .yasqe_queryButton,
    .parseErrorIcon {
      display: none;
    }
  }

  .floating-delete-button {
    position: relative;
    &:hover {
      .float-button {
        opacity: 1;
      }
    }
    .float-button {
      right: -50px;
      position: absolute;
      background: #e91e62;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
      opacity: 0;
      transition: all 300ms ease-in-out;
      &:after {
        left: -5px;
        z-index: -1;
        top: 9px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #e91e62;
        content: " ";
        display: block;
        position: absolute;
      }
    }
  }
}
</style>
