<template>
  <v-container class="basic-config-section">
    <v-row>
      <v-col cols="12">
        <v-text-field
          label="query base link"
          dense
          solo
          hide-details
          disabled
          v-model="queryBaseLink"
        ></v-text-field>
      </v-col>
    </v-row>
    <template v-for="(node, index) in nodesData">
      <v-divider :key="node.title + 'd'" inset v-if="index > 0"></v-divider>
      <Node
        :key="node.title + 'n'"
        :node="node"
        :value="filledNodes[node.nodeName]"
        :parentId="parentId"
        :baseUri="queryBaseLink"
        :readOnly="item.readOnly"
        @onEdit="onNodeEdit"
      />
    </template>
  </v-container>
</template>

<script>
import Node from "./node";
// import { extractLink } from "@/config/helpers";
export default {
  name: "NodesSection",
  components: {
    // Editor,
    Node,
  },
  props: {
    item: { type: Object, default: () => {} },
    name: { type: String, default: "" },
    parentId: { type: String, default: "" },
    nodes: { type: Array, default: () => [] },
  },
  data() {
    return {
      filledNodes: {},
      queryBaseLink: "",
      nodesData: [...this.nodes],
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
  },
  watch: {
    item(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.extractValues(newVal.items);
      }
    },
  },
  methods: {
    /**
     * handle changes on the changes of a node content
     * @param {Object} node the data of the changed node
     */
    onNodeEdit(node) {
      this.filledNodes[node.id] = node.data;
      const nodes = [...this.nodesData];

      // check if there is a section linked to this node then we need to update it
      const actualNode = nodes.find((el) => el.nodeName === node.id);
      if (actualNode.linkedTo) {
        const children = this.contentList[actualNode.linkedTo];

        // keep all nodes that were not added from here
        // and does not have the same ids as the newly added nodes

        const nodeToKeep = [
          ...children.filter(
            (el) =>
              !node.data.includes(el.id) &&
              !el.addedFrom.includes(this.queryBaseLink)
          ),
          ...children
            .filter(
              (el) =>
                el.addedFrom.includes(this.queryBaseLink) &&
                el.addedFrom.length > 1
            )
            .map((el) => ({
              ...el,
              addedFrom: el.addedFrom.filter((ad) => ad !== this.queryBaseLink),
            })),
        ];

        // in data we have 2 types of nodes, nodes to add and nodes to update
        // first: get all the nodes that needs to be updated
        const nodesToUpdate = children
          .filter((el) => node.data.includes(el.id))
          .map((el) => ({
            ...el,
            addedFrom: [
              ...el.addedFrom.filter((el) => el !== this.queryBaseLink),
              this.queryBaseLink,
            ],
          }));

        // second: get all the nodes that needs to be added
        const childrenIds = children.map((el) => el.id);
        const nodesToAdd = node.data
          .filter((el) => !childrenIds.includes(el))
          .map((el) => ({
            id: el,
            base: {
              uri: el,
              property: actualNode.linkedToName,
            },
            items: [],
            addedFrom: [this.queryBaseLink],
          }));

        this.contentList[actualNode.linkedTo] = [
          ...nodeToKeep,
          ...nodesToUpdate,
          ...nodesToAdd,
        ];
      }
      // check if there is a select box then we should update it

      const distNode = nodes.findIndex((el) => el.optionsSource === node.id);

      if (distNode !== -1) {
        nodes[distNode].options = [...node.data];
        this.nodesData = [...nodes];
      }

      this.generatQuery();
      this.$store.dispatch("updateContentList", this.contentList);
    },

    /**
     * generate they query after the data change and update the store
     */
    generatQuery() {
      let items = [];
      Object.keys(this.filledNodes).forEach((key) => {
        if (this.filledNodes[key] && this.filledNodes[key].length) {
          items.push({
            property: key,
            value: this.filledNodes[key],
          });
        }
      });

      const children = this.contentList[this.parentId];
      const itemIndex = children.findIndex(
        (el) => el.id === `<${this.queryBaseLink}>`
      );

      if (itemIndex !== -1) {
        children[itemIndex] = {
          id: this.item.id,
          addedFrom: children[itemIndex].addedFrom,
          readOnly: children[itemIndex].readOnly,
          base: {
            uri: `<${this.queryBaseLink}>`,
            property: this.name,
          },
          items,
        };
        this.contentList[this.parentId] = [...children];
      }
    },
    /**
     * extrac the values of the nodes and convert them into a way that the ui can understand
     * @param {Array} items a list of possilbe values
     */
    extractValues(items) {
      if (items && items.length) {
        const values = {};
        const nodes = [...this.nodesData];

        items.forEach((el) => {
          values[el.property] = el.value;
          // check if node has a select option

          const distNode = nodes.findIndex(
            (nd) => nd.optionsSource === el.property
          );

          if (distNode !== -1) {
            nodes[distNode].options = [...el.value];
          }
        });
        this.nodesData = [...nodes];
        this.filledNodes = values;
      }
    },
  },
  mounted() {
    // process the query
    this.queryBaseLink = this.item.base.uri.replace("<", "").replace(">", "");
    this.extractValues(this.item.items);
  },
};
</script>

<style></style>
