<template>
  <div>
    <v-row>
      <v-col cols="2"> {{ node.title }} </v-col>

      <v-col :cols="node.multi ? 9 : 10">
        <template v-if="node.type === NODE_TYPES.TEXT">
          <v-text-field
            :label="node.example"
            dense
            solo
            hide-details
            v-model="fields[0].value"
            @change="itemChange"
            :readonly="readOnly"
          ></v-text-field>
        </template>
        <template v-else-if="node.type === NODE_TYPES.LINK">
          <v-menu
            :rounded="false"
            offset-y
            max-height="150"
            max-width="531"
            :disabled="readOnly && !node.multi"
          >
            <template v-slot:activator="{ attrs, on }">
              <v-text-field
                v-bind="attrs"
                v-on="on"
                :label="node.example"
                dense
                solo
                persistent-hint
                :hint="getItemTitle(fields[0].value)"
                v-model="fields[0].value"
                @change="itemChange"
                @focus="fetchSuggestions"
                autocomplete="off"
                :readonly="readOnly && !node.multi"
              ></v-text-field>
            </template>
            <SuggestionPanel
              :items="suggestions"
              v-if="
                showSuggesstionPanel && node.withSuggestions && !fields[0].value
              "
              :execlude="fields.map((el) => el.value)"
              :parentId="fields[0].id"
              @onSelect="onSuggestionSelect"
            />
          </v-menu>
        </template>

        <template v-else-if="node.type === NODE_TYPES.SELECT">
          <v-select
            :label="node.example"
            dense
            solo
            hide-details
            :items="node.options"
            v-model="fields[0].value"
            @change="itemChange"
            :readonly="readOnly"
          ></v-select>
        </template>
        <template v-else-if="node.type === NODE_TYPES.EDITOR">
          <Editor
            :id="node.nodeName"
            :withPreview="node.withPreview"
            @onEdit="editorChange"
            :value="fields[0].value"
            :editorId="editorId"
            :parentId="parentId"
            :readOnly="readOnly"
          />
        </template>
      </v-col>
      <v-col cols="1" v-if="node.multi" class="d-flex justify-end">
        <v-btn
          icon
          color="blue"
          @click="addNode"
          :disabled="readOnly && node.type !== NODE_TYPES.LINK"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <template v-if="node.type === NODE_TYPES.TEXT">
      <v-row v-for="(field, index) in fields" :key="field.id">
        <v-col cols="9" offset="2" v-if="index > 0">
          <v-text-field
            :label="node.example"
            dense
            solo
            hide-details
            v-model="field.value"
            @change="itemChange"
            :readOnly="readOnly"
          ></v-text-field>
        </v-col>
        <v-col cols="1" v-if="index > 0" class="d-flex justify-end">
          <v-btn icon color="red" @click="() => deleteNode(field)">
            <v-icon>mdi-minus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <template v-else-if="node.type === NODE_TYPES.LINK">
      <v-row v-for="(field, index) in fields" :key="field.id">
        <v-col cols="9" offset="2" v-if="index > 0" class="mt-0 pt-0">
          <v-menu :rounded="false" offset-y max-height="150" max-width="600">
            <template v-slot:activator="{ attrs, on }">
              <v-text-field
                v-bind="attrs"
                v-on="on"
                :label="node.example"
                dense
                solo
                persistent-hint
                :hint="getItemTitle(field.value)"
                v-model="field.value"
                @change="itemChange"
                @focus="fetchSuggestions"
                autocomplete="off"
              ></v-text-field>
            </template>
            <SuggestionPanel
              :items="suggestions"
              v-if="
                showSuggesstionPanel && node.withSuggestions && !field.value
              "
              :parentId="field.id"
              :execlude="fields.map((el) => el.value)"
              @onSelect="onSuggestionSelect"
            />
          </v-menu>
        </v-col>
        <v-col cols="1" v-if="index > 0" class="d-flex justify-end mt-0 pt-0">
          <v-btn icon color="red" @click="() => deleteNode(field)">
            <v-icon>mdi-minus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <v-dialog v-model="loading" persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { NODE_PREFIX, NODE_TYPES, EDITOR_PREFIX } from "@/config/constants";
import { isLink, attachComponent } from "@/config/helpers";
import uniqid from "uniqid";
import Editor from "./Editor";
import SuggestionPanel from "./SuggestionPanel";

export default {
  name: "node",
  components: { Editor, SuggestionPanel },
  props: {
    node: {
      type: Object,
      default: () => {},
    },
    value: {
      type: Array,
      default: () => [],
    },
    parentId: { type: String, default: "" },
    baseUri: { type: String, default: "" },
    readOnly: { type: Boolean, default: false },
  },
  data() {
    return {
      fields: [{ id: uniqid(NODE_PREFIX), value: "" }],
      editorId: uniqid(EDITOR_PREFIX),
      NODE_TYPES: NODE_TYPES,
      suggestions: [],
      showSuggesstionPanel: false,
      loading: false,
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    baseLink() {
      return this.$store.state.baseLink;
    },
    selectedTemplates() {
      return this.$store.state.selectedTemplates;
    },
  },
  watch: {
    value(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.extractValues(newVal);
      }
    },
  },
  methods: {
    /**
     * conver the values that are recieved from the store into ui component
     *  @param {Array} values an array of values of the current node
     */
    extractValues(values) {
      if (values && values.length) {
        const items = [];
        values.forEach((el) =>
          items.push({
            id: uniqid(NODE_PREFIX),
            value:
              this.node.type === NODE_TYPES.LINK
                ? el.replace(">", "").replace("<", "")
                : el,
          })
        );
        this.fields = [...items];
      }
    },
    /**
     * handle the event when the user clicks on a suggestion from the suggestion panel
     * build a state and update the store
     * @param {Object} payload the selected component information
     */
    onSuggestionSelect(payload) {
      this.loading = true;

      const fields = this.fields;
      const index = fields.findIndex((el) => el.id === payload.parentId);
      if (index !== -1) {
        fields[index] = { id: payload.parentId, value: payload.value };
        this.fields = [...fields];
        this.showSuggesstionPanel = false;

        setTimeout(() => {
          this.itemChange();
        }, 50);

        setTimeout(() => {
          const attachedContent = attachComponent(
            this.node.linkedTo,
            payload.value,
            this.baseUri
          );
          const contentList = this.contentList;

          // merge current state with new state
          contentList.datasets = this.mergeComponenets(
            contentList.datasets,
            attachedContent.datasets
          );
          contentList.detailQueries = this.mergeComponenets(
            contentList.detailQueries,
            attachedContent.detailQueries
          );
          contentList.expansionQueries = this.mergeComponenets(
            contentList.expansionQueries,
            attachedContent.expansionQueries
          );

          contentList.previewQueries = this.mergeComponenets(
            contentList.previewQueries,
            attachedContent.previewQueries
          );
          contentList.styles = this.mergeComponenets(
            contentList.styles,
            attachedContent.styles
          );
          contentList.stylesheet = this.mergeComponenets(
            contentList.stylesheet,
            attachedContent.stylesheet
          );
          contentList.views = this.mergeComponenets(
            contentList.views,
            attachedContent.views
          );
          contentList.viewsets = this.mergeComponenets(
            contentList.viewsets,
            attachedContent.viewsets
          );

          this.$store.dispatch("updateContentList", { ...contentList });
          setTimeout(() => (this.loading = false), 1000);
        }, 500);
      }
    },
    /**
     * merge two components group
     * @param {Array} compList1 array of the first components group
     * @param {Array} compList2 array of the second components group
     */
    mergeComponenets(compList1, compoList2) {
      const temp = [...compList1];
      if (compoList2 && compoList2.length) {
        for (const item of compoList2) {
          const index = temp.findIndex((el) => el.id === item.id);
          if (index === -1) {
            temp.push(item);
          } else {
            temp[index] = {
              ...item,
              addedFrom: [...temp[index].addedFrom, ...item.addedFrom],
            };
          }
        }
      }
      return temp;
    },
    /**
     * load the suggestions of the current input field
     * @param {Object} event the event riggered when the input field is focused
     */
    fetchSuggestions(event) {
      if (
        this.selectedTemplates.length &&
        this.node.withSuggestions &&
        localStorage.getItem("suggestions") &&
        !event.target.value
      ) {
        const fullConfigs = JSON.parse(localStorage.getItem("suggestions"));
        const suggestions = [];
        for (const config of fullConfigs) {
          const cmp = config[this.node.linkedTo];

          if (cmp && cmp.length) {
            suggestions.push(
              ...cmp.map((el) => ({
                id: el.uri,
                title: el.title ? el.title[0] : "",
              }))
            );
          }
        }
        this.suggestions = suggestions;
        this.showSuggesstionPanel = true;
      }
    },
    /**
     * extract the human readable title of the linked component if it's avilable
     * @param {String} iri the value of the current input field
     */
    getItemTitle(iri) {
      if (this.node.linkedTo && this.contentList[this.node.linkedTo]) {
        const component = this.contentList[this.node.linkedTo].find(
          (el) => el.id === `<${iri}>`
        );

        if (component) {
          const title = component.items.find(
            (el) => el.property === "dct:title"
          );
          return title ? title.value[0] : "";
        }
        return "";
      }
      return "";
    },
    /**
     * add a new field for the nodes that support mlti values
     */
    addNode() {
      this.fields.push({ id: uniqid(NODE_PREFIX), value: "" });
    },
    /**
     * delete a field in the nodes that support mlti values
     */
    deleteNode(node) {
      const index = this.fields.findIndex((el) => el.id === node.id);
      this.fields.splice(index, 1);
      this.itemChange();
    },
    /**
     * handle the changes of the content a sparql editor
     * @param {Object} editor the content of the changed editors
     */
    editorChange(editor) {
      this.$emit("onEdit", {
        id: editor.id,
        data: [editor.content],
      });
    },
    /**
     * trigger and event whenever a change happens in the node (adding, deleting an input)
     * or changing the value of an input then updates the app state
     * and do some validation
     */
    itemChange() {
      const fields = this.fields;
      let error = false;
      const totalFileds = fields.filter((fe) => !!fe.value).length;
      const data = fields
        .filter((fe) => !!fe.value)
        .map((fe) => {
          if (this.node.type === this.NODE_TYPES.TEXT) {
            // validate if language is needed
            if (
              this.node.supportLang &&
              !fe.value.includes("@") &&
              totalFileds > 1
            ) {
              alert(`${this.node.title} must have a language decorator`);
              // validate if the prefix was defined or not
            } else if (this.node.hasPrefix) {
              const items = fe.value.trim().split(":");

              // should be either a vliad URI or it has a prefix
              const fullLink = fe.value.startsWith("#")
                ? fe.value.replace("#", this.baseLink)
                : fe.value;
              if (items.length !== 2 && !isLink(fullLink)) {
                alert(
                  `${this.node.title} must be either a valid URI or must have a prefix`
                );
              } else {
                if (isLink(fe.value)) {
                  return `<${fe.value}>`;
                } else {
                  const index = this.contentList.prefixes[0].items.findIndex(
                    (pfx) => pfx.prefix === items[0]
                  );
                  // check if the prefix was added
                  if (index === -1) {
                    alert(
                      `${items[0]} is not defined as a prefix, add it to prefixes section`
                    );
                  } else {
                    return fe.value;
                  }
                }
              }
            } else {
              return fe.value;
            }
          } else if (this.node.type === this.NODE_TYPES.LINK) {
            const fullLink = fe.value.startsWith("#")
              ? fe.value.replace("#", this.baseLink)
              : fe.value;
            // validate the uri
            if (!isLink(fullLink)) {
              alert(`${this.node.title} must have a valid URI.`);
              error = true;
            } else {
              return `<${fe.value}>`;
            }
          } else if (this.node.type === this.NODE_TYPES.SELECT) {
            return fe.value;
          }
        });
      const dataSet = new Set(data);
      if (dataSet.size < data.length) {
        error = true;
        alert(`${this.node.title} has duplicate values`);
      }
      if (!error) {
        this.$emit("onEdit", {
          id: this.node.nodeName,
          data,
        });
      }
    },
  },
  mounted() {
    if (this.value && this.value.length) {
      this.extractValues(this.value);
    }
  },
};
</script>

<style lang="scss">
.with-suggestions {
  position: relative;
  .suggestions-panel {
    top: 40px;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
  }
}
.v-input--is-disabled,
.v-input--is-readonly {
  .v-input__slot {
    box-shadow: none !important;
    border: 1px solid #e6e6e6;
    input,
    .v-select__selection--disabled,
    textarea {
      color: #7b5f5f !important;
    }
    textarea {
      font-size: 14px;
    }
  }
}
</style>
