<template>
  <v-container class="editor-section">
    <v-row>
      <v-col cols="4" class=""
        ><v-select
          :items="datasets"
          v-model="dataset"
          label="Dataset"
          dense
          solo
          hide-details
          item-text="title"
          return-object
        ></v-select
      ></v-col>
      <v-col cols="4" class=""
        ><v-select
          :items="startingNodes"
          v-model="node"
          label="Starting Node"
          dense
          solo
          hide-details
        ></v-select> </v-col
      ><v-col cols="4" class="text-right"
        ><v-btn :disabled="dataset === null || node === null" @click="runQuery"
          >Run</v-btn
        >
      </v-col>
      <v-col cols="12" v-if="loading"
        ><v-progress-linear indeterminate color="teal"></v-progress-linear
      ></v-col>
    </v-row>
    <div v-if="!loading && dataset !== null && node !== null">
      <v-row v-if="queryPreview.type === 'expansionQueries'"
        ><v-col cols="12"
          ><cytoscape
            ref="cy"
            :config="config"
            v-if="elements.length"
            class="min-hight"
          >
            <cy-element
              v-for="def in elements"
              :key="`${def.data.id}`"
              :definition="def"
            /> </cytoscape
        ></v-col>
      </v-row>
      <v-row v-else-if="queryPreview.type === 'detailQueries'">
        <v-col cols="8" v-if="details.length">
          <v-card outlined
            ><v-card-title>Details</v-card-title>
            <v-simple-table dense
              ><template v-slot:default>
                <tbody>
                  <tr v-for="item in details" :key="item.iri">
                    <td>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <a
                            :href="item.iri"
                            target="_blank"
                            v-bind="attrs"
                            v-on="on"
                          >
                            <v-icon small> mdi-link </v-icon>
                          </a>
                        </template>
                        <span>{{ item.iri }}</span>
                      </v-tooltip>
                      <b class="mr-3 ml-3">{{ item.label }}</b>
                      <template v-if="item.isLink">
                        <a :href="item.value" target="_blank">{{
                          item.value
                        }}</a></template
                      >
                      <template v-if="!item.isLink">
                        <span>{{ item.value }}</span></template
                      >
                    </td>
                  </tr>
                </tbody>
              </template></v-simple-table
            ></v-card
          >
        </v-col>
        <v-col cols="4"
          ><v-img
            v-if="detailsImage"
            max-height="150"
            max-width="250"
            :src="detailsImage"
          ></v-img
        ></v-col>
      </v-row>
      <v-row v-else>
        <!-- preview -->
        <v-col cols="12" v-if="preview.label !== ''">
          <v-card outlined
            ><v-card-title
              >{{ preview.label }}
              <v-chip
                class="ml-2"
                color="teal"
                text-color="white"
                small
                v-for="c in preview.classes"
                :key="c"
              >
                {{ c }}
              </v-chip>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import Queries from "../../services/queries.service";
import { isLink } from "../../config/helpers";
export default {
  name: "QueryPreview",
  data() {
    return {
      loading: false,
      node: null,
      dataset: null,
      preview: {
        label: "",
        classes: [],
      },
      details: [],
      detailsImage: null,
      config: {
        style: [
          {
            selector: "node",
            style: {
              label: "data(name)",
              "background-color": "#4db6ac",
              "font-size": 15,
              "text-valign": "bottom",
              "text-halign": "center",
              "background-fit": "contain",
              "background-clip": "none",
              "text-background-opacity": 0,
              "text-background-shape": "roundrectangle",
              "min-zoomed-font-size": 8,
              "background-opacity": 1,
            },
          },
          {
            selector: `.expanded`,
            style: {
              "background-color": "#4fc3f7",
              shape: "rectangle",
            },
          },
          {
            selector: "edge",
            style: {
              width: "2px",
              "target-arrow-shape": "triangle",
              "target-arrow-color": "teal",
              "target-arrow-fill": "filled",
              "control-point-step-size": "100px",
              label: "data(type)",
              "line-color": "teal",
              "font-size": "10",
              "curve-style": "bezier",
              "text-rotation": "autorotate",
              "text-valign": "top",
              "text-margin-y": -10,
              "text-background-color": "#00001a",
              "min-zoomed-font-size": 8,
            },
          },
        ],
        layout: {
          name: "grid",
          rows: 5,
        },
      },
      elements: [],
    };
  },
  computed: {
    startingNodes() {
      const { items } = this.$store.state.contentList["configs"][0];
      const startingNodes = items.find(
        (el) => el.property === "browser:startingNode"
      );
      if (startingNodes) {
        return startingNodes.value.map((el) =>
          el.replace("<", "").replace(">", "")
        );
      }
      return [];
    },

    datasets() {
      const items = [];
      if (this.$store.state.contentList["datasets"].length) {
        this.$store.state.contentList["datasets"].forEach((ds) => {
          const dataset = { id: ds.id };
          ds.items.forEach((item) => {
            const key = item.property.split(":")[1];
            const value =
              item.value && item.value.length
                ? item.value[0]
                    .replace(/"/g, "")
                    .replace("<", "")
                    .replace(">", "")
                : null;
            dataset[key] = value;
          });
          items.push(dataset);
        });
      }

      return items;
    },
    queryPreview() {
      return this.$store.state.queryPreview;
    },
  },
  watch: {
    dataset(value) {
      if (value && !value.sparqlEndpoint) {
        alert(
          "This dataset does not have a Sparql Endpoint, choose another one"
        );
        this.dataset = null;
      }
    },
    queryPreview() {
      this.node = null;
      this.dataset = null;
    },
  },
  methods: {
    /**
     * send an api call to load the preview query and parse the response
     * @param {Object} data the request body
     */
    loadPreview(data) {
      Queries.executePreview(data)
        .then((res) => {
          const { nodes } = res.data;
          this.preview = { label: nodes[0].label, classes: nodes[0].classes };
        })
        .catch((err) => console.log(err))
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * send an api call to load the detail query and parse the response
     * @param {Object} data the request body
     */
    loadDetails(data) {
      Queries.executeDetails(data)
        .then((res) => {
          // build the detail object
          const data = res.data.nodes[0]["data"];
          const types = res.data.types;
          const items = Object.keys(data).map((key) => {
            const type = types.find((el) => el.iri === key);
            const item = {
              label: type.label,
              iri: type.iri,
              value: data[key],
              isLink: isLink(data[key]),
            };
            return item;
          });
          this.details = items;
          // check for image
          const imageItem = items.find((el) => el.label.includes("image"));
          if (imageItem) {
            this.detailsImage = imageItem.value;
          }
        })
        .catch((err) => console.log(err))
        .finally(() => {
          this.loading = false;
        });
    },

    /**
     * send an api call to load the expasion query and parse the response
     * @param {Object} data the request body
     */
    loadExpand(data) {
      Queries.executeExpand(data)
        .then((res) => {
          const data = res.data;

          /// convert the response into a shape that cytoscape can render
          const items = [
            // create nodes
            {
              data: { id: btoa(this.node), name: "source" },
              position: { x: 350, y: 50 },
            },
            // make sure if the there are more than 2 node then we group them
            ...(data.nodes.length > 2
              ? [
                  {
                    data: {
                      id: btoa(data.nodes[0].iri),
                      name: data.nodes[0].label,
                    },
                    position: { x: Math.random() * 550, y: 50 },
                    classes: "expanded",
                  },
                  {
                    data: {
                      id: btoa(data.nodes[1].iri),
                      name: data.nodes[1].label,
                    },
                    position: { x: Math.random() * 550, y: 150 },
                    classes: "expanded",
                  },

                  {
                    data: {
                      id: btoa("rest"),
                      name: `${data.nodes.length - 2} More Items`,
                    },
                    position: { x: Math.random() * 550, y: 250 },
                    classes: "expanded",
                  },
                ]
              : [
                  ...data.nodes.map((el, index) => ({
                    data: {
                      id: btoa(el.iri),
                      name: el.label,
                    },
                    position: { x: Math.random() * 550, y: 50 * (index + 3) },
                    classes: "expanded",
                  })),
                ]),

            // generate edges
            // and make sure to show the edges of the nodes that were selected in the previous step
            ...(data.edges.length > 2
              ? [
                  {
                    data: {
                      id: btoa(
                        `${data.edges[0].source}->${data.edges[0].target}`
                      ),
                      source: btoa(data.edges[0].source),
                      target: btoa(data.edges[0].target),
                      type: data.edges[0].classes.join(","),
                    },
                  },
                  {
                    data: {
                      id: btoa(
                        `${data.edges[1].source}->${data.edges[1].target}`
                      ),
                      source: btoa(data.edges[1].source),
                      target: btoa(data.edges[1].target),
                      type: data.edges[1].classes.join(","),
                    },
                  },

                  {
                    data: {
                      id: btoa(`rest->${this.node}`),
                      source: btoa("rest"),
                      target: btoa(this.node),
                      type: `${data.edges.length - 2} More Items`,
                    },
                  },
                ]
              : [
                  ...data.edges.map((el) => ({
                    data: {
                      id: btoa(`${el.source}->${el.target}`),
                      source: btoa(el.source),
                      target: btoa(el.target),
                      type: "",
                    },
                  })),
                ]),
          ];
          this.elements = items;
        })
        .catch((err) => console.log(err))
        .finally(() => {
          this.loading = false;
        });
    },

    /**
     * fire the preview event on button click
     */
    runQuery() {
      const data = {
        sparql: this.queryPreview.query,
        resource: this.node,
        dataset: {
          sparqlEndpoint: this.dataset.sparqlEndpoint,
          accept: this.dataset.accept,
        },
      };
      this.loading = true;
      if (this.queryPreview.type === "expansionQueries") {
        this.loadExpand(data);
      } else if (this.queryPreview.type === "detailQueries") {
        this.loadDetails(data);
      } else {
        this.loadPreview(data);
      }
    },
  },
};
</script>

<style lang="scss">
// .min-hight {
//   canvas {
//     height: 500px !important;
//   }
// }
</style>
