<template>
  <v-list flat>
    <v-list-item two-line v-if="!items.length">
      <v-list-item-content>
        <v-list-item-title
          ><v-progress-linear indeterminate></v-progress-linear
        ></v-list-item-title>
        <v-list-item-subtitle class="text-center"
          >Loading suggestion</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>

    <v-list-item-group>
      <v-list-item
        two-line
        v-for="item in itemsList"
        :key="item.id"
        @click="() => onSelect(item.id)"
        :title="item.id"
      >
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
          <v-list-item-subtitle>{{ item.id }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
  name: "SuggestionPanel",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    execlude: {
      type: Array,
      default: () => [],
    },
    parentId: {
      type: String,
      default: "",
    },
  },
  computed: {
    itemsList() {
      const items = [];
      this.items.forEach((el) => {
        const index = items.findIndex((it) => it.id === el.id);
        if (index === -1 && !this.execlude.includes(el.id)) {
          items.push(el);
        }
      });
      return items;
    },
  },
  methods: {
    /**
     * emit and event when seleting a suggestion
     * @param {String} id the iri of the selected componenet
     */
    onSelect(id) {
      this.$emit("onSelect", { value: id, parentId: this.parentId });
    },
  },
};
</script>

<style>
</style>