<template>
  <v-container class="basic-config-section">
    <v-row>
      <v-col cols="7">
        <v-text-field
          label="Vocab URI"
          dense
          solo
          hide-details
          readonly
          v-model="queryBaseLink"
        ></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-text-field
          label="Type"
          dense
          solo
          readonly
          hide-details
          v-model="type"
        ></v-text-field>
      </v-col>
      <v-col cols="1" class="d-flex justify-end">
        <v-btn icon color="red" @click="deleteNode">
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <template v-for="(node, index) in nodes">
      <v-divider :key="node.title + 'd'" inset v-if="index > 0"></v-divider>
      <Node
        :key="node.title + 'n'"
        :node="node"
        :value="filledNodes[node.nodeName]"
        @onEdit="onNodeEdit"
      />
    </template>
  </v-container>
</template>

<script>
import Node from "@/components/shared/node";
import NODES from "@/config/nodes";
import { VOCAB_TYPES } from "@/config/constants";
export default {
  name: "NodesSection",
  components: {
    // Editor,
    Node,
  },
  props: {
    item: { type: Object, default: () => {} },
    parentId: { type: String, default: "" },
  },
  data() {
    return {
      filledNodes: {},
      queryBaseLink: "",
      type: "",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    nodes() {
      if (this.type === VOCAB_TYPES.CLASS) {
        return NODES.VOCAB_CLASS;
      }
      return NODES.VOCAB_PROPERTY;
    },
  },
  methods: {
    /**
     * function to trigger when a node is edited
     * @param {Object} node
     */
    onNodeEdit(node) {
      this.filledNodes[node.id] = node.data;

      setTimeout(() => {
        this.generatQuery();
      }, 30);
    },
    /**
     * update the store with the generated query
     */
    generatQuery() {
      const contentList = this.contentList;
      let items = [];
      Object.keys(this.filledNodes).forEach((key) => {
        if (this.filledNodes[key] && this.filledNodes[key].length) {
          items.push({
            property: key,
            value: this.filledNodes[key],
          });
        }
      });

      const children = contentList[this.parentId];
      const itemIndex = children.findIndex((el) => el.id === this.item.id);
      if (itemIndex !== -1) {
        children[itemIndex] = {
          id: this.item.id,
          base: {
            uri: `<${this.queryBaseLink}>`,
            property: this.type,
          },
          items,
        };
        contentList[this.parentId] = [...children];
        this.$store.dispatch("updateContentList", contentList);
      }
    },

    /**
     * delete a vocab node
     */
    deleteNode() {
      const contentList = this.contentList;
      const children = contentList[this.parentId].filter(
        (el) => el.id === this.id
      );
      contentList[this.parentId] = [...children];
      this.$store.dispatch("updateContentList", contentList);
    },
  },
  mounted() {
    // process the query
    this.queryBaseLink = this.item.base.uri.replace("<", "").replace(">", "");
    this.type = this.item.base.property;
    if (this.item.items && this.item.items.length) {
      const values = {};
      this.item.items.forEach((el) => {
        values[el.property] = el.value;
      });
      this.filledNodes = values;
    }
  },
};
</script>

<style></style>
