<template>
  <div>
    <v-container class="main-section vocabs-section">
      <h3 class="section-title">Vocabs</h3>
      <VocabSection
        v-for="vocab in vocabs"
        :key="vocab.id"
        :item="vocab"
        :parentId="id"
        :nodes="[]"
      />
      <v-row>
        <v-col cols="12" class="d-flex justify-end">
          <v-btn icon color="blue" @click="newVocabModal = true">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="newVocabModal" persistent width="960">
      <v-card>
        <v-card-title class="headline">New Vocabulary</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="8">
              <v-text-field
                label="Vocab URI"
                dense
                solo
                hide-details
                v-model="baseLink"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-select
                label="Type"
                dense
                solo
                hide-details
                :items="types"
                v-model="type"
              ></v-select>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-checkbox
            v-model="createAnother"
            label="Create Another"
            hide-details
          ></v-checkbox>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="newVocabModal = false"
            >Close</v-btn
          >
          <v-btn color="green darken-1" text @click="addSection">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import VocabSection from "./VocabSection";
import { isLink } from "@/config/helpers";
import { VOCAB_TYPES } from "@/config/constants";
export default {
  name: "Configs",
  components: { VocabSection },
  data() {
    return {
      id: "vocabs",
      newVocabModal: false,
      baseLink: "",
      types: [
        VOCAB_TYPES.CLASS,
        VOCAB_TYPES.OBJECT_PROPERTY,
        VOCAB_TYPES.DATA_TYPE_PROPERTY,
      ],
      type: VOCAB_TYPES.CLASS,
      createAnother: true,
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    vocabs() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
  methods: {
    /**
     * add a new vocbulay componenet
     */
    addSection() {
      if (!isLink(this.baseLink)) {
        alert("Vocabulary must be a valid URI");
        return;
      }
      const contentList = this.contentList;
      const item = {
        id: this.baseLink,
        base: {
          uri: `<${this.baseLink}>`,
          property: this.type,
        },
        items: [],
      };

      const index = contentList[this.id].findIndex(
        (el) => el.id === this.baseLink
      );
      if (index !== -1) {
        alert(`${this.baseLink} already exists in the vocabualry list`);
        return;
      }
      contentList[this.id].push(item);

      this.$store.dispatch("updateContentList", contentList);
      if (!this.createAnother) {
        this.newVocabModal = false;
      }
      this.baseLink = "";
      this.type = VOCAB_TYPES.CLASS;
    },
  },
};
</script>

<style lang="scss">
</style>
