<template>
  <v-container class="main-section datasets-section">
    <h3 class="section-title">Datasets</h3>
    <NodesSection
      v-for="dataset in datasets"
      :key="dataset.id"
      :item="dataset"
      :name="name"
      :parentId="id"
      :nodes="nodes"
    />
  </v-container>
</template>
<script>
import NodesSection from "@/components/shared/NodesSection";
import NODES from "@/config/nodes";

export default {
  name: "DetailQueries",
  components: { NodesSection },
  data() {
    return {
      nodes: NODES.DATASET,
      id: "datasets",
      name: "void:Dataset",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    datasets() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss"></style>
