<template>
  <v-container class="main-section stylesheets-section">
    <h3 class="section-title">Stylesheets</h3>
    <NodesSection
      v-for="stylesheet in stylesheets"
      :key="stylesheet.id"
      :item="stylesheet"
      :name="name"
      :parentId="id"
      :nodes="nodes"
    />
  </v-container>
</template>
<script>
import NodesSection from "@/components/shared/NodesSection";
import NODES from "@/config/nodes";

export default {
  name: "Stylesheets",
  components: { NodesSection },
  data() {
    return {
      nodes: NODES.STYLESHEET,
      id: "stylesheet",
      name: "browser:VisualStyleSheet",
    };
  },
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    stylesheets() {
      return this.$store.state.contentList[this.id] || [];
    },
  },
};
</script>

<style lang="scss"></style>
