<template>
  <v-app>
    <div class="top-bar">
      <v-app-bar color="blue accent-4" dense dark fixed>
        <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
        <v-toolbar-title>TTL GENERATOR</v-toolbar-title>

        <v-spacer></v-spacer>
      </v-app-bar>
    </div>
    <v-main>
      <v-fab-transition>
        <router-link :to="`/manage`">
          <v-btn color="blue" dark fixed bottom right fab class="mr-5 mb-5">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </router-link>
      </v-fab-transition>
      <v-container class="editor-section">
        <v-row>
          <v-col cols="12" md="10" offset-md="1">
            <div class="editors-list">
              <v-simple-table v-if="items.length" class="mt-5">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Name</th>
                      <th class="text-left">created at</th>
                      <th class="text-left">updated at</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in items" :key="item.name">
                      <td>
                        <router-link :to="`/manage/${item.id}`">{{
                          item.name
                        }}</router-link>
                      </td>
                      <td>
                        {{
                          new Date(item.createdAt)
                            | dateFormat("MMM DD, YYYY - HH:mm")
                        }}
                      </td>
                      <td>
                        {{
                          new Date(item.updatedAt)
                            | dateFormat("MMM DD, YYYY - HH:mm")
                        }}
                      </td>
                      <td class="text-right">
                        <!--  <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              icon
                              @click="downloadModal = true"
                              v-bind="attrs"
                              v-on="on"
                              class="mr-2"
                            >
                              <v-icon>mdi-download</v-icon>
                            </v-btn>
                          </template>
                          <span>Download File</span>
                        </v-tooltip> -->
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              icon
                              @click="() => triggerDelete(item.id)"
                              v-bind="attrs"
                              v-on="on"
                              color="red"
                            >
                              <v-icon>mdi-delete</v-icon>
                            </v-btn>
                          </template>
                          <span>Delete File</span>
                        </v-tooltip>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-alert
                v-if="!items.length"
                dense
                type="info"
                outlined
                class="mt-5"
              >
                There is no data to show now
              </v-alert>
            </div>
          </v-col>
        </v-row></v-container
      >
    </v-main>

    <v-dialog v-model="deleteModal" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Delete file?</v-card-title>
        <v-card-text
          >Are you sure that you want to delete this file</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="() => cancelDelete()"
            >Cancel</v-btn
          >
          <v-btn color="red darken-1" text @click="deleteFile">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :timeout="3000">
      File was deleted!
    </v-snackbar>
  </v-app>
</template>

<script>
import Files from "../services/files.service";
export default {
  name: "List",
  components: {},
  data: () => ({
    items: [],
    selectedFile: null,
    snackbar: false,
    deleteModal: false,
  }),
  methods: {
    /**
     * send an api call to delete a file
     */
    deleteFile() {
      if (this.selectedFile) {
        Files.delete(this.selectedFile)
          .then(() => {
            this.snackbar = true;
            this.selectedFile = null;
            this.deleteModal = false;
            this.loadFiles();
          })
          .catch((er) => console.log(er));
      }
    },
    /**
     * this available configuration files
     */
    loadFiles() {
      Files.list()
        .then((res) => (this.items = res.data))
        .catch((er) => console.log(er));
    },
    /**
     * show the delete confirmation modal
     */
    triggerDelete(id) {
      this.selectedFile = id;
      this.deleteModal = true;
    },
    /**
     * cancel the deletion process
     */
    cancelDelete() {
      this.selectedFile = null;
      this.deleteModal = false;
    },
  },

  mounted() {
    this.loadFiles();
  },
};
</script>
<style scoped lang="scss">
.top-bar {
  margin-top: 20px;
  .mode-switch {
    margin-top: 20px;
    padding-right: 20px;
  }
}
.no-input {
  flex: auto 0;
}
</style>
