<template>
  <v-app>
    <div class="top-bar">
      <v-app-bar color="blue accent-4" dense dark fixed>
        <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
        <v-toolbar-title>TTL GENERATOR</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-tooltip>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon @click="saveFile" v-bind="attrs" v-on="on">
              <v-icon>mdi-content-save</v-icon>
            </v-btn>
          </template>
          <span>Save File</span>
        </v-tooltip>
        <v-tooltip>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon @click="previewFile" v-bind="attrs" v-on="on">
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>Preview File</span>
        </v-tooltip>
        <v-tooltip>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon @click="downloadFile" v-bind="attrs" v-on="on">
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </template>
          <span>Download File</span>
        </v-tooltip>
      </v-app-bar>
    </div>
    <v-main>
      <v-fab-transition>
        <a href="/list">
          <v-btn color="blue" dark fixed bottom left fab class="ml-5 mb-5">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </a>
      </v-fab-transition>

      <v-container class="editor-section">
        <v-row>
          <v-col cols="8">
            <Container />
          </v-col>

          <v-col>
            <v-container class="container main-section">
              <h3 class="section-title">General</h3>
              <v-row>
                <v-col>
                  <v-text-field
                    label="File Name"
                    dense
                    outlined
                    hide-details
                    v-model="fileName"
                  ></v-text-field> </v-col
              ></v-row>

              <v-row>
                <v-col>
                  <v-text-field
                    label="Base link"
                    dense
                    outlined
                    hide-details
                    v-model="baseLink"
                    @change="checkBaseLink"
                  ></v-text-field> </v-col
              ></v-row>
              <v-row>
                <v-col>
                  <v-btn
                    color="teal lighten-4"
                    block
                    @click="
                      () => {
                        fetchModal = true;
                        treeItems = [];
                        selection = [];
                        configBaseLink = '';
                      }
                    "
                    >Fetch from remote resource</v-btn
                  >
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    block
                    color="cyan lighten-4"
                    @click="
                      () => {
                        metaTreeSelectionModal = true;
                        selectedMetaTemplate = [];
                      }
                    "
                    >Use Meta Config as a template</v-btn
                  >
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-btn
                    color="light-green lighten-4"
                    block
                    @click="metaGroupModal = true"
                    >Assign to a meta config group</v-btn
                  >
                  <v-chip
                    v-if="metaGroup.iri"
                    class="ma-2"
                    close
                    block
                    @click:close="metaGroup = {}"
                  >
                    {{ metaGroup.title }}
                  </v-chip>
                </v-col>
              </v-row>
            </v-container>
          </v-col></v-row
        >
      </v-container>
    </v-main>
    <v-snackbar v-model="snackbar" :timeout="3000">
      File was saved!
    </v-snackbar>
    <!--  preview modal-->
    <v-dialog v-model="previewModal" width="970" persistent>
      <v-card>
        <v-toolbar dark color="primary" dense>
          <v-btn icon dark @click="previewModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Preview</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items
            ><v-tooltip>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon @click="downloadFile" v-bind="attrs" v-on="on">
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Download File</span>
            </v-tooltip>
          </v-toolbar-items>
        </v-toolbar>

        <v-container class="editor-section">
          <v-row>
            <v-col cols="12" class="mt-2 pl-5 pr-5">
              <div id="preview-editor"></div></v-col
          ></v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <!--  query preview modal-->
    <v-dialog v-model="queryModal" width="970" persistent>
      <v-card>
        <v-toolbar dark color="primary" dense>
          <v-btn icon dark @click="closeQueryModal">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Try out a query</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-container class="editor-section">
          <v-row>
            <v-col cols="12" class="mt-2 pl-5 pr-5"> <query-preview /></v-col
          ></v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <!-- remote resource modal -->
    <v-dialog v-model="fetchModal" width="970" persistent>
      <v-card>
        <v-toolbar color="teal lighten-4" dense>
          <v-btn icon @click="fetchModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Fetch from remote resource</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn v-if="treeItems.length" text @click="handleSelection">
              Save
            </v-btn>
            <v-progress-circular
              class="mt-2"
              v-if="loading"
              indeterminate
            ></v-progress-circular>
          </v-toolbar-items>
        </v-toolbar>
        <v-container class="editor-section">
          <v-row v-if="!treeItems.length">
            <v-col cols="10">
              <v-text-field
                label="Load from Custom configuration"
                dense
                solo
                hide-details
                v-model="configBaseLink"
              ></v-text-field>
            </v-col>
            <v-col cols="2" class="text-right">
              <v-btn @click="loadRemoteConfig">Load</v-btn>
            </v-col>
            <v-col cols="12">
              <div class="text-center">OR from meta config</div>
            </v-col>
            <v-col cols="12" class="mt-2 pl-5 pr-5">
              <div v-for="meta in metaConfig" :key="meta.iri">
                <v-list dense>
                  <v-subheader>{{ meta.title }}</v-subheader>
                  <v-list-item-group color="primary">
                    <v-list-item
                      v-for="config in meta.configs"
                      :key="config.iri"
                      two-line
                      @click="
                        () => {
                          configBaseLink = config.iri;
                          loadRemoteConfig();
                        }
                      "
                    >
                      <v-list-item-content>
                        <v-list-item-title>{{
                          config.title
                        }}</v-list-item-title>
                        <v-list-item-subtitle>{{
                          config.iri
                        }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </div>
            </v-col></v-row
          >

          <v-row>
            <v-col cols="12" class="mt-2 pl-5 pr-5" v-if="treeItems.length">
              <v-treeview
                selectable
                :items="treeItems"
                open-all
                v-model="selection"
                return-object
              ></v-treeview></v-col
          ></v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <!-- meta group modal-->
    <v-dialog v-model="metaGroupModal" width="970" persistent>
      <v-card>
        <v-toolbar color="light-green lighten-4" dense>
          <v-btn icon @click="metaGroupModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Assign to a meta config group</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-container class="editor-section">
          <v-row>
            <v-col cols="12" class="mt-2 pl-5 pr-5">
              <div>
                <v-list dense>
                  <v-list-item-group color="primary">
                    <v-list-item
                      v-for="meta in metaConfig"
                      :key="meta.iri"
                      two-line
                      @click="metaGroup = meta"
                    >
                      <v-list-item-content>
                        <v-list-item-title>{{ meta.title }}</v-list-item-title>
                        <v-list-item-subtitle>{{
                          meta.iri
                        }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </div>
            </v-col></v-row
          >
        </v-container>
      </v-card>
    </v-dialog>

    <!-- meta template modal -->
    <v-dialog v-model="metaTreeSelectionModal" width="970" persistent>
      <v-card>
        <v-toolbar color="cyan lighten-4" dense>
          <v-btn icon @click="metaTreeSelectionModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Use Meta Config as a template</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              v-if="!metaTreeSelectioLoading"
              text
              @click="fetchSuggestions"
            >
              Save
            </v-btn>
            <v-progress-circular
              class="mt-2"
              v-if="metaTreeSelectioLoading"
              indeterminate
            ></v-progress-circular>
          </v-toolbar-items>
        </v-toolbar>
        <v-container class="editor-section">
          <v-row>
            <v-col cols="12" class="mt-2 pl-5 pr-5">
              <v-treeview
                selectable
                :items="treeMetaItems"
                open-all
                v-model="selectedMetaTemplate"
                return-object
              ></v-treeview></v-col
          ></v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import Container from "@/components/Container";
import QueryPreview from "@/components/shared/QueryPreview";
import { SECTION_SEPARATOR, LINE_SEPARATOR } from "@/config/constants";
import { isLink, convertConfigToState } from "../config/helpers";
import Files from "../services/files.service";
// import { NODE_STYLES, EDGE_STYLES } from "../config/styles";
import Queries from "../services/queries.service";
import Yasgui from "@triply/yasgui";
import "@triply/yasgui/build/yasgui.min.css";

// import axios from "axios";
export default {
  name: "Manange",
  components: { Container, QueryPreview },
  data: () => ({
    snackbar: false,
    advancedMode: false,
    fileName: "ttl-query-" + new Date().getTime(),
    baseLink: "",
    fileId: null,
    yasgui: null,
    previewModal: false,
    queryModal: false,
    metaConfig: [],
    fetchModal: false,
    fetchedItems: {},
    treeItems: [],
    selection: [],
    loading: false,
    configBaseLink: "",
    metaGroup: {},
    metaGroupModal: false,
    metaTreeSelectionModal: false,
    metaTreeSelectioLoading: false,
    treeMetaItems: [],
    selectedMetaTemplate: [],
  }),
  computed: {
    contentList() {
      return this.$store.state.contentList;
    },
    queryPreview() {
      return this.$store.state.queryPreview;
    },
  },
  watch: {
    queryPreview(newVal) {
      this.queryModal = newVal.init;
    },
    selectedMetaTemplate(newVal) {
      this.$store.dispatch("updateSeletedTemplates", newVal);
    },
  },
  methods: {
    /**
     * send api call to fetch componenet and store the results in local storage to resuce memory usage
     */
    fetchSuggestions() {
      if (this.selectedMetaTemplate.length) {
        this.metaTreeSelectioLoading = true;
        Queries.fetchSuggestions(this.selectedMetaTemplate)
          .then((res) => {
            localStorage.setItem("suggestions", JSON.stringify(res.data));
          })
          .catch((er) => {
            console.log(er);
          })
          .finally(() => {
            this.metaTreeSelectionModal = false;
            this.metaTreeSelectioLoading = false;
          });
      }
    },
    /**
     * check if base link is a valid iri
     */
    checkBaseLink() {
      if (!isLink(this.baseLink)) {
        alert("Base link must have a valid uri structure!");
        this.baseLink = "";
      } else {
        this.$store.dispatch("updateBaseLink", this.baseLink);
      }
    },

    /**
     * dismiss the query dialog
     */
    closeQueryModal() {
      this.$store.dispatch("preparePreview", {
        type: "",
        query: "",
        init: false,
      });
    },

    /**
     * generate ttl text
     */
    prepareContent() {
      const contentList = this.$store.state.contentList;
      let content = "";

      // generate base url
      if (this.baseLink) {
        content += `@base <${this.baseLink}> . \n`;
      }
      // generate meta query
      if (this.metaGroup.iri) {
        content += `<${this.metaGroup.iri}> a browser:MetaConfiguration ; \n`;
        content += `browser:hasConfiguration ${this.contentList["configs"][0]["base"]["uri"]} .\n`;
      }
      try {
        Object.keys(contentList).forEach((key) => {
          if (key === "prefixes") {
            content = content + `# ${key} section \n`;
            content = content + `${LINE_SEPARATOR} \n`;

            const { items } = contentList[key][0];
            items.forEach((el) => {
              content += `@prefix ${el.prefix}: <${el.uri}> . \n`;
            });

            content = content + `${SECTION_SEPARATOR} \n`;
          } else {
            if (contentList[key]?.length) {
              content = content + `# ${key} section \n`;
              content = content + `${LINE_SEPARATOR} \n`;
              contentList[key].forEach((el) => {
                const { base, items } = el;
                if (!items || !items.length) {
                  throw `${key} section does not have enough info, the file might not be complete `;
                }
                content += `${base.uri} a ${base.property} ;\n`;
                // ignore information properties
                const renderItems = items.filter((el) =>
                  el.property.includes(":")
                );

                renderItems.forEach((item, index) => {
                  if (item.value && item.value.length) {
                    if (item.unit) {
                      content += `${item.property} ${item.value
                        .map((v) => `"${v + item.unit}"`)
                        .join(", ")} ${
                        index === renderItems.length - 1 ? "." : ";"
                      } \n`;
                    } else {
                      content += `${item.property} ${item.value.join(", ")} ${
                        index === renderItems.length - 1 ? "." : ";"
                      } \n`;
                    }
                  }
                });
              });
            } else {
              throw `${key} section does not have any data, the file might not be complete `;
            }
            content = content + `${SECTION_SEPARATOR} \n`;
          }
        });
      } catch (e) {
        alert(e);
      }
      return content;
    },

    /**
     * download a ttl file
     */
    downloadFile() {
      // convert the array of items into some text
      const content = this.prepareContent();
      // append an a item into the body
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/turtle;charset=utf-8," + encodeURIComponent(content)
      );

      element.setAttribute("download", `${this.fileName}.ttl`);
      element.style.display = "none";
      document.body.appendChild(element);
      // remove the a item from the body
      element.click();
      document.body.removeChild(element);
      this.downloadModal = false;
    },
    /**
     * open the ttl preview dialog
     */
    previewFile() {
      this.previewModal = true;
      const content = this.prepareContent();
      setTimeout(() => {
        if (!this.yasgui) {
          this.yasgui = new Yasgui(document.getElementById("preview-editor"), {
            autofocus: false,
          });
        }
        const editorTab = this.yasgui.getTab();
        editorTab.setQuery(content);
      }, 50);
    },

    /**
     * Save file to remote server
     */
    saveFile() {
      if (!this.fileId) {
        Files.create({
          name: this.fileName,
          baseLink: this.baseLink,
          metaGroup: btoa(
            unescape(encodeURIComponent(JSON.stringify(this.metaGroup)))
          ),
          body: btoa(
            unescape(encodeURIComponent(JSON.stringify(this.contentList)))
          ),
        })
          .then((res) => {
            this.fileId = res.data.id;
            this.snackbar = true;
          })
          .catch((er) => console.log(er));
      } else {
        Files.update(this.fileId, {
          name: this.fileName,
          baseLink: this.baseLink,
          metaGroup: btoa(
            unescape(encodeURIComponent(JSON.stringify(this.metaGroup)))
          ),
          body: btoa(
            unescape(encodeURIComponent(JSON.stringify(this.contentList)))
          ),
        })
          .then((res) => {
            this.fileId = res.data.id;
            this.snackbar = true;
          })
          .catch((er) => console.log(er));
      }
    },

    /****************************************/
    /**    handle config loading    **/
    /****************************************/
    loadRemoteConfig() {
      this.loading = true;
      Queries.fetchQuery(this.configBaseLink)
        .then((res) => {
          this.fetchedItems = res.data;
          // prepare the tree
          const tree = [];

          // prepare the dataset
          const { datasets } = res.data;
          tree.push({
            id: "datasets",
            name: "Datasets :",
            children: [
              ...datasets.map((ds) => {
                let title = "";
                if (ds.title && ds.title.length > 1) {
                  const foundTitle = ds.title.find((el) => el.endsWith("@en"));
                  if (foundTitle) {
                    title = foundTitle;
                  } else {
                    title = ds.title[0];
                  }
                } else {
                  title = ds.title ? ds.title[0] : ds.uri;
                }
                return {
                  id: ds.uri,
                  name: title,
                  type: "dataset",
                };
              }),
            ],
          });

          // prepare the viewsets
          const { viewsets, views } = res.data;
          tree.push({
            id: "viewsets",
            name: "ViewSets :",
            children: [
              ...viewsets.map((vs) => {
                let title = "";
                if (vs.title && vs.title.length > 1) {
                  const foundTitle = vs.title.find((el) => el.endsWith("@en"));
                  if (foundTitle) {
                    title = foundTitle;
                  } else {
                    title = vs.title[0];
                  }
                } else {
                  title = vs.title ? vs.title[0] : vs.uri;
                }
                return {
                  id: vs.uri,
                  name: title,
                  type: "viewset",
                  children: [
                    ...views
                      .filter((vi) => vs.hasView.includes(vi.uri))
                      .map((vi) => ({
                        id: vi.uri,
                        name: vi.title[0],
                        type: "view",
                        parent: vs.uri,
                      })),
                  ],
                };
              }),
            ],
          });
          // prepare the styels
          const { stylesheet, styles } = res.data;
          tree.push({
            id: "stylesheet",
            name: "Stylesheets :",
            children: [
              ...stylesheet.map((sh) => {
                let title = "";
                if (sh.title && sh.title.length > 1) {
                  const foundTitle = sh.title.find((el) => el.endsWith("@en"));
                  if (foundTitle) {
                    title = foundTitle;
                  } else {
                    title = sh.title[0];
                  }
                } else {
                  title = sh.title ? sh.title[0] : sh.uri;
                }
                return {
                  id: sh.uri,
                  name: title,
                  type: "stylesheet",
                  children: [
                    ...styles
                      .filter((st) => sh.hasVisualStyle.includes(st.uri))
                      .map((st) => ({
                        id: st.uri,
                        name: st.hasSelector[0],
                        type: "style",
                        parent: sh.uri,
                      })),
                  ],
                };
              }),
            ],
          });

          this.treeItems = tree;
        })
        .catch((err) => {
          alert("We could not load the provided config!");
          console.log(err);
        })
        .finally(() => (this.loading = false));
    },
    /****************************************/
    /**    handle selection save    **/
    /****************************************/
    handleSelection() {
      this.fetchModal = false;

      const contentList = convertConfigToState(
        this.selection,
        this.fetchedItems,
        this.configBaseLink
      );

      this.$store.dispatch("updateContentList", {
        ...this.contentList,
        ...contentList,
      });
      this.treeItems = [];
      this.selection = [];
      this.configBaseLink = "";
      this.fetchedItems = {};
    },
  },

  mounted() {
    // check the type
    if (this.$route.params.id) {
      this.fileId = this.$route.params.id;
      Files.get(this.fileId)
        .then((res) => {
          this.fileName = res.data.name;
          this.baseLink = res.data.baseLink;
          this.metaGroup = JSON.parse(
            decodeURIComponent(escape(atob(res.data.metaGroup)))
          );
          this.$store.dispatch("updateBaseLink", res.data.baseLink);
          this.$store.dispatch(
            "updateContentList",
            JSON.parse(decodeURIComponent(escape(atob(res.data.body))))
          );
        })
        .catch((er) => console.log(er));
    }
    // fetch meta config
    Queries.fetchMeta()
      .then((res) => {
        this.metaConfig = res.data;
        for (const meta of res.data) {
          this.treeMetaItems.push({
            id: meta.iri,
            name: meta.title,
            children: meta.configs.map((el) => ({
              id: el.iri,
              name: el.title,
            })),
          });
        }
      })
      .catch((er) => console.log(er));

    this.advancedMode = !!localStorage.getItem("advancedMode");
    window.onbeforeunload = function () {
      return "Do you want to exit this page?";
    };
  },
};
</script>
<style scoped lang="scss">
.top-bar {
  margin-top: 20px;
  .mode-switch {
    margin-top: 20px;
    padding-right: 20px;
  }
}
.no-input {
  flex: auto 0;
}
</style>
